doctype html
html(lang='en')
  include ../common/head.pug
  +head("CMS FTP")
  body
    header
    include ../common/navbar.pug 
    +navbar(user)
    .container
      h1= title
      if error
        h2.text-danger #{error}

      span(id='basedir') #{basedir}
      .modal(tabindex='-1' role='dialog')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                  h5.modal-title #{filename}
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                .modal-footer
                  button.btn.btn-primary(id="json_button" type='button') Сохранить
                  button.btn.btn-secondary(id="close" type='button' data-dismiss='modal') Закрыть
      if dirs
            .media
              input.mr-1(type="image" src='/images/png/doc.png' style="width:200px;height:200px"  alt="description.json" name="submit" value="description.json")
              .media-body
                  h5.mt-0 Описание
            for dir in dirs
              if dir.type!="json"&&dir.dir.name!="description.json"
                if dir.type=="dir"
                  .media
                          a(href="/dirs/"+dir.dir.name).text-decoration-none.text-dark
                            img.mr-1(src='/images/images.png' style="width:200px;height:200px" alt=dir.dir.name)
                          .media-body.mx-auto
                              h5.mt-0 #{dir.dir.name}
                              p.text-primary #{dir.dir.user} 
                              if dir.json
                                if dir.json.title
                                  p.mt-0.text-success Title: #{dir.json.title}
                                if dir.json.name
                                  p.mt-0.text-success Имя папки: #{dir.json.name}  
                                if dir.json.description
                                  p.mt-0.text-success Описание: #{dir.json.description}
                                
              
                else if dir.type=="txt"
                  .media
                      input.mr-1(type="image" src='/images/png/txt.png' style="width:200px;height:200px"  alt=dir.dir.name name="submit" value=dir.dir.name)
                      .media-body
                              h5.mt-0 #{dir.dir.name}
                              | #{dir.dir.rawModifiedAt} 
                              p.text-primary #{dir.dir.user} 
                              p.text-info #{dir.dir.role }
                else if dir.type=="mp4"
                  .media
                      input.mr-1(type="image" src='/images/png/mp4.png' style="width:200px;height:200px"  alt=dir.dir.name name="submit" value=dir.dir.name)
                      .media-body
                              h5.mt-0 #{dir.dir.name}
                              | #{dir.rawModifiedAt} 
                              p.text-primary #{dir.dir.user} 
                              p.text-info #{dir.dir.role }
                else
                  .media
                      input.mr-1(type="image" src='/images/png/png.png' style="width:200px;height:200px"  alt=dir.dir.name name="submit" value=dir.dir.name)
                      .media-body
                              h5.mt-0 #{dir.dir.name}
                              | #{dir.rawModifiedAt} 
                              p.text-primary #{dir.dir.user} 
                              p.text-info #{dir.dir.role }     
                                      
      if !dirs||dirs.length==0
        h1 Нет рабочих папок                      
  include ../common/footer.pug
  +footer()
  script(src="/javascripts/content.js")