doctype html
html(lang='en')
  include ../common/head.pug
  +head("CMS FTP")
  body
    header
    include ../common/navbar.pug 
    +navbar(user)
    .container
      h1= title
      if dirs
            for dir in dirs
              if(dir.type==2)
                .media
                    a(href="/dirs/"+dir.name).text-decoration-none.text-dark
                        img.mr-1(src='/images/images.png' alt=dir.name)
                        .media-body
                            h5.mt-0 #{dir.name}
                            | #{dir.rawModifiedAt} 
                            p.text-primary #{dir.user} 
                            p.text-info #{dir.role }
              if(dir.type==1)
                .media
                    a(href="/content/"+dir.name).text-decoration-none.text-dark
                        img.mr-1(src='/images/png/txt.png' style="width:200px;height:200px"  alt=dir.name)
                        .media-body
                            h5.mt-0 #{dir.name}
                            | #{dir.rawModifiedAt} 
                            p.text-primary #{dir.user} 
                            p.text-info #{dir.role }
      if dirs.length==0
        h1 Нет рабочих папок                      
  include ../common/footer.pug
  +footer()