doctype html
html(lang='en')
  include common/head.pug
  +head("CMS FTP")
  body
    header
    include common/navbar.pug 
    +navbar(user)
    .container
      h1= title
      p Welcome to #{title}
      if error
        p.text-danger Error: #{error}        
      if user 
        h3 You enter as  #{user.role}
        h3.text-danger You are connected to #{user.host}:#{user.port}
  include common/footer.pug
  +footer()